extends layout

block content
  section#intro
    .container
      .row
        .col-md-6
          img(src='images/introme-small-screen.png')#introme-small-screen.img-circle
          img(src='images/introme-big-screen.png')#introme-big-screen
        .col-md-6
          h1.brand-heading Xabier Crespo
          h2 Internet of Things & Innovation & Maker
          .social-icons
            a.icon-button.linkedin(href=socials.linkedin.URL)
              i.fa.fa-linkedin.icon-linkedin
              span
            a.icon-button.twitter(href=socials.twitter.URL)
              i.fa.fa-twitter.icon-twitter
              span
            a.icon-button.mail(href=socials.mail.URL)
              i.fa.fa-envelope.icon-mail
              span
            a.icon-button.angellist(href=socials.angellist.URL)
              i.fa.fa-angellist.icon-angellist
              span
            a.icon-button.github(href=socials.github.URL)
              i.fa.fa-github.icon-github
              span
            a.icon-button.android(href=socials.android.URL)
              i.fa.fa-android.icon-android
              span
            a.icon-button.youtube(href=socials.youtube.URL)
              i.fa.fa-youtube-play.icon-youtube
              span
            a.icon-button.scribd(href=socials.scribd.URL)
              i.fa.fa-scribd.icon-scribd
              span
          p.intro-text
            i.fa.fa-quote-left.fa-2x.fa-pull-left.fa-border
            |  I believe in a future where everything, and not just everyone, is connected. A future where common objects talk to each other letting people focus on the aspects of life that really matter.
            | <br/><br/>I want to participate in this process and I think that an open innovation paradigm is the best way to achieve it. Why? Because shared knowledge and collaboration will make us reach this moment faster and with a global vision. 
            i.fa.fa-quote-right
  -var media_path = "/images/projects/";
  section#projects
    h1.title My portfolio
    .row.row-full-width
      each val, key in projects
        .col-md-4.col-full-width
          a(href="projects/"+key).link-img
            .img-text
              img.img-responsive(src=media_path+val.media.img_mini)
              .caption.center
                h2=val.title
                p=val.brief
  section#values
    h1.title My core values
    .container
      .row
        .card.col-md-4.col-sm-6
          h2 Design & UX
          span.fa.fa-3x.fa-pencil
          p You only get one chance to make a first impression. If the product is ugly or hard to use, users will go to your competition.
        .card.col-md-4.col-sm-6
          h2 Lean
          span.fa.fa-3x.fa-refresh
          p User preferences and needs change. I understand it and I don't restrict myself to a requirements document. Instead, I talk periodically to my clients.
        .card.col-md-4.col-sm-6
          h2 Agile
          span.fa.fa-3x.fa-gears
          p For being flexible with our clients I have to rely on an agile development. It promotes adaptive planning, early delivery, and evolutionary development.
        .card.col-md-4.col-sm-6
          h2 Analytics
          span.fa.fa-3x.fa-line-chart
          p Every feature of a product should be backed up by real data. The analysis of usage information helps me go in the right direction.
        .card.col-md-4.col-sm-6
          h2 Testing
          span.fa.fa-3x.fa-wrench
          p The only way to make sure the project works is by testing it. I work with test-driven development techniques to make this process fast and unbiased.
        .card.col-md-4.col-sm-6
          h2 Open source
          span.fa.fa-3x.fa-share-alt
          p Most of what I know about Internet of Things I owe it to open source communities. I believe that it boosts innovation so my personal projects are available on GitHub.                