extends layout
block vars
  -var nav_selected = 'Projects'; //default

block content
  -var media_path = "images/projects/";
  section#projects
    .container
      h1.title Projects I've been working on
      row
        each val, key in projects
          .col-md-4
            h3.center=val.title
            p=val.brief
              a(href="projects/"+key)
                .img-box
                  img.img-responsive.secondary(src=media_path+val.img_logo)
                  img.img-responsive.primary(src=media_path+val.img_mini)
    each val, key in projects
      .col-md-4.col-full-width
        a(href="projects/"+key).link-img
          .img-text
            img.img-responsive(src=media_path+val.img_mini)
            .caption.center
              h2=val.title
              p=val.brief
